body{
     padding-top: 500px;
    text-align: center;
}

#welcome{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 500px;
    width:100%;
    background: linear-gradient(white 0%,orange 100%);
    display:table;
    z-index:9;
} 

.welcome-inner{
  display:table-cell;
    vertical-align:middle;
    
}

.profile_img{
    border-radius: 100%;
    width:200px;
    margin-bottom: 50px;
}

#bio{
   font-family: 'Lobster', cursive;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.line{
    width:100px;
    height:6px;
    background-color:black;
    margin:8px auto;
}

.menu{
    list-style: none;
    position:absolute;
    top:10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.link{
    float: left;
    color: firebrick;
    display: inline;
    padding: 10px;
    font-size: 20px;
}
